* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cmd text eol=crlf
*.txt text eol=crlf

packaging/licenses/dotnet/LICENSE.txt -text
packaging/licenses/dotnet/ThirdPartyNotices.txt -text

*.zip binary
*.exe binary
